body {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 3rem 2.5rem;
}

body > p {
  max-width: 750px;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  padding: 10px 15px;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 1200px;
}

img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 0 20px 0 0;
}

.card-wrapper {
  align-items: flex-center;
  background-color: rgb(245 245 245);
  display: flex;
  padding: 15px 25px 15px 15px;
}

.card-wrapper a,
.card-wrapper span {
  display: block;
  margin: 8px 0;
}

.more-wrapper {
  display: flex;
  align-items: center;
}

.more-wrapper > span,
.more-wrapper > button {
  margin: 0 10px;
}

.help-text {
  margin: 1rem 0;
}

@media screen and (max-width: 750px) {
  body {
    margin: 2rem 1.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
