body {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 3rem 2.5rem;
}

body > p {
  max-width: 750px;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  margin: unset;
}

a {
  border-bottom: solid 1px RGB(24, 24, 246);
  text-decoration: none;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  border: solid 1px darkgray;
  padding: 10px 15px;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 300;
}

input:hover {
  border-color: blue;
}

input:focus {
  border-color: orange;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 1100px;
}

img {
  border: solid lightgray 1px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 0 20px 0 0;
  padding: 2px;
}

.card-wrapper {
  align-items: flex-center;
  background-color: rgb(245 245 245);
  display: flex;
  padding: 25px 25px 15px 15px;
  box-shadow: lightgray 2px 2px 1px -1px;
  border: 1px solid darkgray;
  overflow: hidden;
}

.card-wrapper:hover {
  filter: brightness(110%);
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.card-content > p {
  font-family: "Times New Roman", Times, serif;
  margin: unset;
}

.card-content > span {
  align-self: flex-end;
  margin-top: auto;
}

.more-wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.more-wrapper > span,
.more-wrapper > button {
  margin: 0 10px;
}

.more-wrapper > button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.load-text {
  margin: auto 1rem;
}

.help-text {
  display: block;
  margin: auto;
}

@media screen and (max-width: 750px) {
  body {
    margin: 2rem 1.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
